extends layout

block content
  .row
    div.alert.alert-info
      p 
        strong INFO!
        |  If you cannot find a room you are looking for or there is a mistake with the map, please send an email to: csongor.kocsis.t@gmail.com
  .row
    .col-lg-6
      h2.page-header 2 Venture Road
      img.map-img(src="/uploads/maps/2 Venture Road.png")
    .col-lg-6
      h2.page-header 1 Venture Road
      img.map-img(src="/uploads/maps/1VentureRoad.png")
  .row
    .col-lg-6
      h2.page-header 3 Venture Road
      img.map-img(src="/uploads/maps/3vr.png")
    .col-lg-6
      h2.page-header 5 Benham Road
      img.map-img(src="/uploads/maps/5Benham.png")
  .row
    .col-lg-6
      h2.page-header Kenneth Dibben House
      img.map-img(src="/uploads/maps/ken-dib.png")
    .col-lg-6  
      h2.page-header Epsilon House
      img.map-img(src="/uploads/maps/epsilon.png")