extends layout

block content
  h2.page-header Users
  table.table
    thead
      tr
        th Name
        th Email Address
        th Username
        th Password
        th Profile Image
    tbody
  