<div class="row grow-appear">
      <div class="col s5">
        <div class="card small">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="/uploads/info/old-school.png">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Science Park Office<i class="material-icons right">more_vert</i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Science Park Office<i class="material-icons right">close</i></span>
            <p class="card-text">The Science Park Office is located on the ground floor of 2 Venture Road. Office hours: 9am to 5pm, Monday to Friday.</p>
          </div>
        </div>
      </div>
      <div class="col s5 offset-s2">
        <div class="card small">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="/uploads/info/urban-buildings.png">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Facilities Office<i class="material-icons right">more_vert</i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Facilities Office<i class="material-icons right">close</i></span>
            <p class="card-text">The Facilities Office is located on the ground floor of 2 Venture Road. Office hours: 8:30am to 5pm, Monday to Friday. For out-of-hours assistance, call Security on 07769 550371.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row grow-appear">
      <div class="col s5">
        <div class="card small">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="/uploads/info/coffee-cup.png">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Lattes<i class="material-icons right">more_vert</i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Lattes<i class="material-icons right">close</i></span>
            <p class="card-text">Lattes Coffee Shop is located in 2 Venture Road and is open for refreshments Monday to Friday, 8am to 4:30pm. An additional Lattes kiosk, open 8:30am to 3pm, is located in 5 Benham Road.</p>
          </div>
        </div>
      </div>
      <div class="col s5 offset-s2">
        <div class="card small">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="/uploads/info/piggy-bank-with-dollar-coins.png">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Cash Machine<i class="material-icons right">more_vert</i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Cash Machine<i class="material-icons right">close</i></span>
            <p class="card-text">An ATM with free cash withdrawal can be found in the foyer of 2 Venture Road.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row grow-appear">
      <div class="col s5">
        <div class="card small">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="/uploads/info/exercise.png">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Hotel & Gym<i class="material-icons right">more_vert</i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Hotel & Gym<i class="material-icons right">close</i></span>
            <p class="card-text">The Club at Chilworth Manor Hotel offers spa packages with access to the pool and gym. Corporate membership rates are available for staff working at the Science Park.</p>
          </div>
        </div>
      </div>
      <div class="col s5 offset-s2">
        <div class="card small">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="/uploads/info/cocktail.png">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Pub<i class="material-icons right">more_vert</i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Pub<i class="material-icons right">close</i></span>
            <p class="card-text">The Chilworth Arm is situated on the main road (A27), a 5 minute walk from the centre of the Science Park.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row grow-appear">
      <div class="col s5">
        <div class="card small">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="/uploads/info/problem-electric.png">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Electric Car Charging<i class="material-icons right">more_vert</i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Electric Car Charging<i class="material-icons right">close</i></span>
            <p class="card-text">An electric car charging point is available outside 1 Venture Road.  To enquire about use, please visit the Science Park Office.</p>
          </div>
        </div>
      </div>
      <div class="col s5 offset-s2">
        <div class="card small">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="/uploads/info/trees.png">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Conservation Area<i class="material-icons right">more_vert</i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Conservation Area<i class="material-icons right">close</i></span>
            <p class="card-text">The Chilworth Conservation Area is a 27 acre area of woodland and meadow situated behind the Chilworth Manor Hotel, along University Parkway and offers a lovely destination for lunchtime walks.</p>
          </div>
        </div>
      </div>
    </div>