<div id="transport">
  <div class="trans-container grow-appear">
    <div class="box-container">
      <div class="fromSP-box">
        <h3 class="box-header">Next Bus to Southampton</h3>
        <p class="box-data"><span id="soton_soton"></span></p>
      </div>
      <div class="fromCH-box">
        <h3 class="box-header">Next Bus to Romsey</h3>
        <p class="box-data"><span id="rom_soton"></span></p>
      </div>
    </div>
  </div>
  <div class="trans-container grow-appear">
    <h3 class="trans-header">Local Taxi Services</h3>
    <div class="box-container">
      <div class="col-3">
        <h4 class="box-header">West Quay Cars</h4>
        <p class="box-data">023 8099 9999</p>
      </div>
      <div class="col-3">
        <h4 class="box-header">Radio Taxis</h4>
        <p class="box-data">023 8066 6666</p>
      </div>
      <div class="col-3">
        <h4 class="box-header">The Trans Group</h4>
        <p class="box-data">080 0077 8797</p>
      </div>
    </div>
  </div>
  <div class="row" svg-map-transport style="max-width: 100%;"></div>
</div>